.card{
    max-width: 80%;
    height: max-content;
    margin: auto;
    padding-top: 5px;
    transition: 0.3s;
}

.HolyGrail{
  display: flex;
  height: 100%;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex:  1 0 auto;
  flex-direction: column;
  padding:  var(--space);
}

@media (min-width: 1200px) {
  .HolyGrail-body {
    flex-direction: row;
    flex: 1;
}
